$color1: #7587FF;
$color2: #6BE8AC;
$color3: #FFFB82;
$color4: #EDBA98;
$color5: #F571FF;
$color6: #112399;
$color7: #82D4FF;
$color8: #FFCC8A;
$color9: #CC7454;
$color10: #A9FF48;
$color11:#879E6D;
$color12:#FFF569;
$color13:#271FFF;
$color14: #3F5FCC;
$color15: #CC261B;

$errorMsg: $color15;

.form-container {width: 80%; height: 41%; position: absolute;top: 16%; left: 16%; transition: 0.3s; animation: ani-form 0.3s linear;
    & *{position: relative;}
    & > h2{text-align: center;font-size: 30px;}
    & form label {display: grid; margin-bottom: 10px;font-size: 18px;}
    & input[type="text"], .form_container input[type="password"] { padding: 3px 1px;}
}
.links-cadastro{width: 100%}
.btn.form-submit {font-size: 20px; margin: 15px auto;}
.links-cadastro { width: 100%;  text-align: center;}
.links-cadastro a {text-decoration: underline;}
.links-cadastro a:hover{font-style: italic;}

.aviso{color:$errorMsg}


@keyframes ani-form{
    from{transform: translateX(-20px);opacity: 0;}
    to{transform: translateX(0);opacity: 1;}
}