a{text-decoration: none; color: inherit;}
#root{background-color: #000;}

span{cursor: pointer;}
.gameBg{background-image: url("Imagens/composition-24.png");width: 100%;max-width: 1200px;margin: 0 auto;height: 650px;background-size: cover;background-repeat: no-repeat;position: relative;}
/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
